---
---

@import "{{ site.theme }}";

.page-header {
  background-image: linear-gradient(323deg, #256546, #359466);
  background-color: blue;
}

a {
  color: #0191ca;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #4d8d6e;
}
